#upgrader {
  margin: 0 auto 0 auto;
  height: 10%;
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#upgrader__display > span {
  font-size: 2em;
  color: var(--col-upgrade);
}
#upgrader__display__value {
  font-weight: bold;
  text-shadow: 0.2vmin 0.2vmin 0 #555;
}
#upgrader > div[id$=button] {
  width: 15%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #111;
  border-radius: 1vmin;
  box-shadow: 0 0 0.5vmin #000;

  cursor: pointer;
  transition: var(--transition);
}
#upgrader > div[id$=button]:hover {
  width: 20%;
}
#upgrader > div[id$=button]:active {
  transform: scale(1.1);
  transition: all 0.05s;
}
#upgrader__buy-button {
  color: var(--col-prestige);
}

#module-wrapper {
  width: 100%;
  height: 88%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#module-grid {
  margin: 0 0.5vw 0 0.5vw;
  height: 100%;
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: var(--cellSize);
  grid-auto-columns: var(--cellSize);
  place-items: center;

  background-color: #666;
  border-radius: 1vmin;
  box-shadow: 0 0 1vmin #000 inset;
}
.module-grid__item {
  --roatate: 10deg;
  --color: #0000;

  position: relative;
  display: inline-block;
  
  width: 75%;
  height: 75%;

  border-radius: 1vmin;
  background-color: var(--color);

  box-shadow: 0 0 1vmin #000;

  transition: var(--transition);
}
.module-grid__item.locked {
  transform: scale(0.75);
  filter: grayscale(1);
}
.module-grid__item:not(.locked) {
  cursor: pointer;
}
.module-grid__item:not(.locked):hover {
  transform: scale(1.15) rotate(var(--rotate));
  z-index: 1;
}
.module-grid__item:not(.locked):hover::before {
  content: attr(data-name);

  padding: 0.5vmin;

  position: absolute;
  top: -50%;
  left: 50%; 
  transform: translateX(-50%);

  white-space: nowrap;
  color: var(--color);
  text-shadow: 0 0 0.2vmin #fff;

  background-color: #0008;
  border-radius: 0.5vmin;

  pointer-events: none;
  animation: moduleNameAppear 0.4s ease-out;
}
@keyframes moduleNameAppear {
  from {
    opacity: 0;
    transform: translateX(-50%) rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) rotateX(0deg);
  }
}
.module-grid__item.locked {
  pointer-events: none;
}
.module-grid__item.locked > * {
  display: none;
}
.module-grid__item__tier {
  position: absolute;
  top: 10%;
  right: 10%;

  color: #888;
  mix-blend-mode: difference;
  font-size: 1.2em;
}
.module-grid__item__exp {
  position: absolute;
  bottom: 10%;
  left: 10%;

  color: #888;
  mix-blend-mode: difference;
  font-size: 0.8em;
}
.module-grid__item__check {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.5);

  width: 100%;
  height: 100%;
}
.module-grid__item:not(.equip) > .module-grid__item__check {
  display: none;
}

#selected-module {
  --color: #fff;

  margin-right: 0.5vw;

  flex: 1;
  height: 100%;
  max-width: 25vmax;

  border-radius: 1vmin;
  background-color: #222;
  box-shadow: 0 0 1.5vmin #000;
}
#selected-module__name {
  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color);
  font-size: 2em;
  text-shadow: 0 0 0.4vmin #000;
  font-weight: bold;
}
#selected-module__effects {
  margin: 2.5% 0;
  height: 50%;
}
#selected-module__data {
  margin-bottom: 2.5%;
  height: 15%;
}
#selected-module__buttons {
  margin: 0 auto;

  width: 50%;
  height: 10%;

  display: flex;
  justify-content: space-between;
}

#selected-module__effects__level {
  margin: 0 auto 2% auto;
  width: 75%;
  height: 18%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#selected-module__effects__level > span[id$=button] {
  width: 25%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.8em;

  color: #aaa;
  background-color: #111;
  border-radius: 0.7vmin;
  box-shadow: 0 0 0.4vmin #000;

  cursor: pointer;
  transition: var(--transition);
}
#selected-module__effects__level > span[id$=button]:hover {
  filter: invert(1);
}
#selected-module__effects__level__value {
  font-size: 2.5em;
  color: var(--color);
  filter: brightness(1.3);
}
#selected-module__effect__cost {
  margin: 0 auto;
  width: 30%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  color: var(--col-gold);
  text-align: center;

  background-color: #444;
  border-radius: 0.5vmin 0.5vmin 0 0;
  box-shadow: 0 0 1vmin #000;
}
#selected-module__effect__list {
  margin: 0 auto;
  width: 80%;
  height: 70%;

  box-shadow: 0 0 1vmin #000 inset;
  border-radius: 1vmin;
  background-color: #333;

  overflow-y: auto;
  z-index: 2;
}
.selected-module__effect__list__item {
  margin: 0 auto;
  padding: 0.4vmin 0.4vmin;

  display: flex;
  align-items: flex-end;

  width: 85%;

  transition: var(--transition);
}
.selected-module__effect__list__item:first-child {
  margin-top: 0.6vmin;
}
.selected-module__effect__list__item > * {
  transition: inherit;
}
.selected-module__effect__list__item__name {
  flex: 2;

  white-space: nowrap;
}
.selected-module__effect__list__item__value {
  flex: 3;
}
.selected-module__effect__list__item:hover {
  background-color: #fff2;
}
.selected-module__effect__list__item:hover > .selected-module__effect__list__item__name {
  font-size: 0.6em;
}
.selected-module__effect__list__item:hover > .selected-module__effect__list__item__value {
  flex: 6;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 0 0.2vmin #fff;
}

#selected-module__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#selected-module__data > * {
  margin: 0 auto;
  width: 90%;
}
#selected-module__data__tier {
  font-size: 2em;
}
#selected-module__data__tier::before {
  content: "Tier";
  font-size: 0.5em;
}
#selected-module__data__exp {
  --progress: 0%;

  position: relative;
  height: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(
    to right,
    var(--color) 0%,
    var(--color) var(--progress),
    #333 var(--progress),
    #333 100%
  );
}
#selected-module__data__exp__value {
  --width: 30%;

  position: absolute;
  right: min(100% - var(--width), 100% - var(--progress));
  width: var(--width);

  font-size: 0.8em;
  text-align: center;
  
  color: #888;
  mix-blend-mode: difference;
}

#selected-module__buttons > * {
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #111;
  border-radius: 1vmin;
  box-shadow: 0 0 1vmin var(--color);

  transition: var(--transition);
}
#selected-module__buttons__equip:hover, #selected-module__buttons__upgrade:hover {
  filter: invert(1);
  cursor: pointer;
}
#selected-module__buttons__equip:active, #selected-module__buttons__upgrade:active {
  transform: scale(1.2);
  
  transition: all 0s;
}
#selected-module__buttons__equip.equiped, #selected-module__buttons__upgrade:not(.can-upgrade) {
  filter: grayscale(1);

  pointer-events: none;
}
#selected-module__buttons__upgrade {
  color: var(--col-upgrade);
}
